# Exercise 1

## Class Initialization

In [ ]:
class Node:
    def __init__(self, data):
        self.data = data
        self.next = None
        self.prev = None

In [ ]:
class LinkedList:

    def __init__(self):
        self.head = None

    def traverse(self, node):
        while node:
            print(node.data, end=" -> ")
            node = node.next

In [ ]:
class DoublyLinkedList:

    def __init__(self):
        self.head = None

    def traverse(self, node):
        while node:
            print(node.data, end=" -> ")
            node = node.next

In [ ]:
class CircularLinkedList:

    def __init__(self):
        self.head = None

    def traverse(self, node):

        head = node

        while node:
            print(node.data, end=" -> ")
            node = node.next

            # Break to prevent infinite loop
            if node == head:
                break

#### 1. Create a Singly Linked list

- Each node should contain your name and your seatmates in your row
- Create at least 5 nodes
- Traverse all nodes

In [ ]:
# put your code here

In [ ]:
singly_linked_list = LinkedList()

In [ ]:
student_1 = "Mark"
student_2 = "Renz"
student_3 = "Christian"
student_4 = "Rhodey"
student_5 = "Khyle"

singly_linked_list.head = Node(student_1)
node_b = Node(student_2)
node_c = Node(student_3)
node_d = Node(student_4)
node_e = Node(student_5)

In [ ]:
singly_linked_list.head.next = node_b
node_b.next = node_c
node_c.next = node_d
node_d.next = node_e

In [ ]:
singly_linked_list.traverse(singly_linked_list.head)

Mark -> Renz -> Christian -> Rhodey -> Khyle ->

#### 2. Create a Doubly Linked list

- Each node should contain your name and your seatmates in your row
- Create at least 5 nodes
- Traverse all nodes

In [ ]:
# put your code here

In [ ]:
doubly_linked_list = DoublyLinkedList()

In [ ]:
student_1 = "Mark"
student_2 = "Renz"
student_3 = "Christian"
student_4 = "Rhodey"
student_5 = "Khyle"

doubly_linked_list.head = Node(student_1)
node_b = Node(student_2)
node_c = Node(student_3)
node_d = Node(student_4)
node_e = Node(student_5)

In [ ]:
doubly_linked_list.head.prev = None
doubly_linked_list.head.next = node_b

node_b.prev = doubly_linked_list.head
node_b.next = node_c

node_c.prev = node_b
node_c.next = node_d

node_d.prev = node_c
node_d.next = node_e

node_e.prev = node_d
node_e.next = None

In [34]:
print("Head: " , doubly_linked_list.head.data)
print("Next: " , doubly_linked_list.head.next.data)

print("========================================")

print("Node_b: " , node_b.data)
print("Previous: " , node_b.prev.data)
print("Next: " , node_b.next.data)

print("========================================")

print("Node_c: " , node_c.data)
print("Previous: " , node_c.prev.data)
print("Next: " , node_c.next.data)

print("========================================")

print("Node_d: " , node_d.data)
print("Previous: " , node_d.prev.data)
print("Next: " , node_d.next.data)

print("========================================")

print("Node_e: " , node_e.data)
print("Previous: " , node_e.prev.data)

Head:  Mark
Next:  Renz
========================================
Node_b:  Renz
Previous:  Mark
Next:  Christian
========================================
Node_c:  Christian
Previous:  Renz
Next:  Rhodey
========================================
Node_d:  Rhodey
Previous:  Christian
Next:  Khyle
========================================
Node_e:  Khyle
Previous:  Rhodey

In [35]:
doubly_linked_list.traverse(doubly_linked_list.head)

Mark -> Renz -> Christian -> Rhodey -> Khyle ->

#### 3. Create a Circular Linked list

- Each node should contain your name and your seatmates in your row
- Create at least 5 nodes
- Traverse all nodes

In [ ]:
# put your code here

In [37]:
circular_linked_list = CircularLinkedList()

In [38]:
student_1 = "Mark"
student_2 = "Renz"
student_3 = "Christian"
student_4 = "Rhodey"
student_5 = "Khyle"

circular_linked_list.head = Node(student_1)
node_b = Node(student_2)
node_c = Node(student_3)
node_d = Node(student_4)
node_e = Node(student_5)

In [39]:
circular_linked_list.head.next = node_b
node_b.next = node_c
node_c.next = node_d
node_d.next = node_e
node_e.next = circular_linked_list.head

In [40]:
print("Head: " , doubly_linked_list.head.data)
print("Next: " , doubly_linked_list.head.next.data)

print("========================================")

print("Node_b: " , node_b.data)
print("Next: " , node_b.next.data)

print("========================================")

print("Node_c: " , node_c.data)
print("Next: " , node_c.next.data)

print("========================================")

print("Node_d: " , node_d.data)
print("Next: " , node_d.next.data)

print("========================================")

print("Node_e: " , node_e.data)
print("Next: " , node_e.next.data)

Head:  Mark
Next:  Renz
========================================
Node_b:  Renz
Next:  Christian
========================================
Node_c:  Christian
Next:  Rhodey
========================================
Node_d:  Rhodey
Next:  Khyle
========================================
Node_e:  Khyle
Next:  Mark

In [41]:
circular_linked_list.traverse(circular_linked_list.head)

Mark -> Renz -> Christian -> Rhodey -> Khyle ->